*IMPORTING THE REQUIRED LIBRARIES*

In [25]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import TfidfVectorizer
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
from sklearn.preprocessing import LabelEncoder

*PREPROCESSING THE DATA*

HERE WE ARE LOADING THE DATASET INTO THE DATAFRAME (df)

In [44]:
df = pd.read_csv("/content/mail_data.csv")
df.head()

  Category                                            Message
0      ham  Go until jurong point, crazy.. Available only ...
1      ham                      Ok lar... Joking wif u oni...
2     spam  Free entry in 2 a wkly comp to win FA Cup fina...
3      ham  U dun say so early hor... U c already then say...
4      ham  Nah I don't think he goes to usf, he lives aro...

In [15]:
df.shape

(5572, 2)

In [16]:
df.describe()

       Category                 Message
count      5572                    5572
unique        2                    5157
top         ham  Sorry, I'll call later
freq       4825                      30

LABEL ENCODING

In [18]:
# HERE WE ARE LABELLING THE  SPAM MAIL AS 0 
# HERE WE ARE LABELLING THE HAM MAIL AS 1
df.loc[df['Category'] == 'spam','Category',] = 0
df.loc[df['Category'] == 'ham','Category',] = 1

SPAM   -  0

HAM    -  1

In [22]:
# SEPARATING THE DATA AS TEXT AND LABEL
x = df['Message']
y = df['Category']

In [23]:
x

0       Go until jurong point, crazy.. Available only ...
1                           Ok lar... Joking wif u oni...
2       Free entry in 2 a wkly comp to win FA Cup fina...
3       U dun say so early hor... U c already then say...
4       Nah I don't think he goes to usf, he lives aro...
                              ...
5567    This is the 2nd time we have tried 2 contact u...
5568                 Will Ã¼ b going to esplanade fr home?
5569    Pity, * was in mood for that. So...any other s...
5570    The guy did some bitching but I acted like i'd...
5571                           Rofl. Its true to its name
Name: Message, Length: 5572, dtype: object

In [24]:
y

0       1
1       1
2       0
3       1
4       1
       ..
5567    0
5568    1
5569    1
5570    1
5571    1
Name: Category, Length: 5572, dtype: object

In [26]:
# SPLITTING THE DATA INTO TRAIN AND TEST DATA
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,stratify=y,random_state=1)

In [28]:
print(x.shape,x_train.shape,x_test.shape)

(5572,) (4457,) (1115,)

FEATURE EXTRACTION

In [29]:
# HERE WE ARE TRANSFORMING THE TEST DATA INTO FEATURE VECTORS THAT CAN BE USED AS INPUT TO THE LOGISTIC REGRESSION

feature_extraction = TfidfVectorizer(min_df=1,stop_words='english',lowercase='True')
# TfidVectorizer will go through our information and it will give us the score based on the information present in an text
# min_df it will say that if the word's value is less than min_diff there we will be ignoring it 

x_train_features = feature_extraction.fit_transform(x_train)
x_test_features = feature_extraction.transform(x_test)

# Converting y_train and y_test values as an integers

y_train = y_train.astype('int')
y_test = y_test.astype('int')

In [30]:
print(x_train)

3539    We are pleased to inform that your application...
2009                 See the forwarding message for proof
5363    I think your mentor is , but not 100 percent s...
3665     Huh? 6 also cannot? Then only how many mistakes?
3443    Save money on wedding lingerie at www.bridal.p...
                              ...
5360    Hey, iouri gave me your number, I'm wylie, rya...
2664    8007 FREE for 1st week! No1 Nokia tone 4 ur mo...
3162    Mystery solved! Just opened my email and he's ...
1525                        Hi:)cts employee how are you?
3914                                    Yeah whatever lol
Name: Message, Length: 4457, dtype: object

In [31]:
print(x_train_features)

  (0, 2177)	0.23309557828846914
  (0, 3264)	0.2631513993394141
  (0, 3619)	0.3488783966153327
  (0, 6409)	0.3326362323256634
  (0, 5295)	0.3326362323256634
  (0, 1516)	0.3488783966153327
  (0, 910)	0.3326362323256634
  (0, 1025)	0.3326362323256634
  (0, 3599)	0.31217352532901926
  (0, 5115)	0.3048700690764884
  (1, 5318)	0.6366191779536516
  (1, 4363)	0.3858585853754368
  (1, 2916)	0.6677044064207481
  (2, 6463)	0.3522847311040471
  (2, 5011)	0.5648129493203621
  (2, 260)	0.3791945214013413
  (2, 4356)	0.5648129493203621
  (2, 6675)	0.3067240579580042
  (3, 4425)	0.7814747758273017
  (3, 3477)	0.6239368355416024
  (4, 7233)	0.30283664176761355
  (4, 1525)	0.2709757410506353
  (4, 2232)	0.23277522691456723
  (4, 4600)	0.22842310336648117
  (4, 5849)	0.2709757410506353
  :	:
  (4453, 4685)	0.3013920827617892
  (4453, 7009)	0.20821674441221627
  (4453, 312)	0.14076796933756813
  (4453, 3788)	0.09911204230079218
  (4453, 6904)	0.11983290605228093
  (4453, 7238)	0.26264651983729037
  (4453, 345)	0.1579300896214047
  (4453, 2934)	0.1115424123678941
  (4453, 6589)	0.1253260553347007
  (4453, 6930)	0.14304305143683857
  (4453, 7420)	0.133889319877971
  (4454, 6494)	0.3920995714841905
  (4454, 4824)	0.3920995714841905
  (4454, 6138)	0.3738452292270028
  (4454, 1248)	0.3738452292270028
  (4454, 4569)	0.3738452292270028
  (4454, 5872)	0.24809291668453956
  (4454, 3669)	0.3044932419819369
  (4454, 3788)	0.16773387606760162
  (4454, 2544)	0.30138713133457384
  (4455, 2553)	0.6587108865789035
  (4455, 2093)	0.6587108865789035
  (4455, 3361)	0.36359309097515835
  (4456, 4100)	0.7180066168826456
  (4456, 7458)	0.6960362764344528

TRAINING THE MODEL



> LOGISTIC REGRESSION

In [32]:
model = LogisticRegression()

In [35]:
# TRAINING THE LOGISTIC REGRESSION MODEL WITH TRAINING DATA
model.fit(x_train_features,y_train)

LogisticRegression()

EVALUATING THE TRAINING MODEL

In [38]:
# PREDICTION ON TRAINING DATA
prediction_on_train_data = model.predict(x_train_features)
accuracy_on_training_data = accuracy_score(y_train,prediction_on_train_data)

In [39]:
print("ACCURACY SCORE ON TRAINING DATA : ",accuracy_on_training_data)

ACCURACY SCORE ON TRAINING DATA :  0.9685887368184878

In [41]:
# PREDICTION ON TEST DATA
prediction_on_test_data = model.predict(x_test_features)
accuracy_on_test_data = accuracy_score(y_test,prediction_on_test_data)

In [42]:
print("ACCURACY SCORE ON TESTING DATA : ",accuracy_on_test_data)

ACCURACY SCORE ON TESTING DATA :  0.9614349775784753

MAKING A PREDICTION

In [49]:
input_data = ["YOU HAVE BEEN SELECTED FOR AN INTERVIEW"]

# converting a text into feature_vectors
input_data_features = feature_extraction.transform(input_data)

#MAKING PREDICTION
prediction = model.predict(input_data_features)
print(prediction)

if(prediction[0] == 1):
  print("IT IS NOT A SPAM MAIL")
else:
  print("IT IS A SPAM MAIL")

[1]
IT IS NOT A SPAM MAIL