*IMPORTING THE REQUIRED LIBRARIES*

In [7]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn import svm
from sklearn.metrics import accuracy_score

*LOADING THE DATASET INTO THE DATAFRAME (df)*

In [8]:
df = pd.read_csv("/content/diabetes_1.csv")
df.head()

   Pregnancies  Glucose  BloodPressure  ...  DiabetesPedigreeFunction  Age  Outcome
0            6      148             72  ...                     0.627   50        1
1            1       85             66  ...                     0.351   31        0
2            8      183             64  ...                     0.672   32        1
3            1       89             66  ...                     0.167   21        0
4            0      137             40  ...                     2.288   33        1

[5 rows x 9 columns]

In [45]:
df?

In [12]:
df.shape

(768, 9)

In [13]:
df.describe()

       Pregnancies     Glucose  ...         Age     Outcome
count   768.000000  768.000000  ...  768.000000  768.000000
mean      3.845052  120.894531  ...   33.240885    0.348958
std       3.369578   31.972618  ...   11.760232    0.476951
min       0.000000    0.000000  ...   21.000000    0.000000
25%       1.000000   99.000000  ...   24.000000    0.000000
50%       3.000000  117.000000  ...   29.000000    0.000000
75%       6.000000  140.250000  ...   41.000000    1.000000
max      17.000000  199.000000  ...   81.000000    1.000000

[8 rows x 9 columns]

In [14]:
df.isnull().sum()

Pregnancies                 0
Glucose                     0
BloodPressure               0
SkinThickness               0
Insulin                     0
BMI                         0
DiabetesPedigreeFunction    0
Age                         0
Outcome                     0
dtype: int64

In [16]:
df['Outcome'].value_counts()

0    500
1    268
Name: Outcome, dtype: int64

0   NON DIABETIC

1   DIABETIC

In [18]:
df.groupby('Outcome').mean()

         Pregnancies     Glucose  ...  DiabetesPedigreeFunction        Age
Outcome                           ...
0           3.298000  109.980000  ...                  0.429734  31.190000
1           4.865672  141.257463  ...                  0.550500  37.067164

[2 rows x 8 columns]

In [19]:
# SEPARATING THE DATA AND LABEL
x = df.drop(columns='Outcome',axis=1)
y = df['Outcome']

In [20]:
x

     Pregnancies  Glucose  BloodPressure  ...   BMI  DiabetesPedigreeFunction  Age
0              6      148             72  ...  33.6                     0.627   50
1              1       85             66  ...  26.6                     0.351   31
2              8      183             64  ...  23.3                     0.672   32
3              1       89             66  ...  28.1                     0.167   21
4              0      137             40  ...  43.1                     2.288   33
..           ...      ...            ...  ...   ...                       ...  ...
763           10      101             76  ...  32.9                     0.171   63
764            2      122             70  ...  36.8                     0.340   27
765            5      121             72  ...  26.2                     0.245   30
766            1      126             60  ...  30.1                     0.349   47
767            1       93             70  ...  30.4                     0.315   23

[768 rows x 8 columns]

In [21]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

DATA STANDARDIZATION

In [22]:
scaler = StandardScaler()

In [25]:
scaler.fit(x)

StandardScaler()

In [26]:
standardized_data = scaler.transform(x)

In [28]:
print(standardized_data)

[[ 0.63994726  0.84832379  0.14964075 ...  0.20401277  0.46849198
   1.4259954 ]
 [-0.84488505 -1.12339636 -0.16054575 ... -0.68442195 -0.36506078
  -0.19067191]
 [ 1.23388019  1.94372388 -0.26394125 ... -1.10325546  0.60439732
  -0.10558415]
 ...
 [ 0.3429808   0.00330087  0.14964075 ... -0.73518964 -0.68519336
  -0.27575966]
 [-0.84488505  0.1597866  -0.47073225 ... -0.24020459 -0.37110101
   1.17073215]
 [-0.84488505 -0.8730192   0.04624525 ... -0.20212881 -0.47378505
  -0.87137393]]

In [29]:
x = standardized_data
y = df['Outcome']

In [30]:
x

array([[ 0.63994726,  0.84832379,  0.14964075, ...,  0.20401277,
         0.46849198,  1.4259954 ],
       [-0.84488505, -1.12339636, -0.16054575, ..., -0.68442195,
        -0.36506078, -0.19067191],
       [ 1.23388019,  1.94372388, -0.26394125, ..., -1.10325546,
         0.60439732, -0.10558415],
       ...,
       [ 0.3429808 ,  0.00330087,  0.14964075, ..., -0.73518964,
        -0.68519336, -0.27575966],
       [-0.84488505,  0.1597866 , -0.47073225, ..., -0.24020459,
        -0.37110101,  1.17073215],
       [-0.84488505, -0.8730192 ,  0.04624525, ..., -0.20212881,
        -0.47378505, -0.87137393]])

In [31]:
y

0      1
1      0
2      1
3      0
4      1
      ..
763    0
764    0
765    0
766    1
767    0
Name: Outcome, Length: 768, dtype: int64

*SPLITTING THE DATA INTO TRAIN AND TEST*

In [33]:
x_train,x_test,y_train,y_test = train_test_split(x,y,test_size=0.2,stratify=y,random_state=2)

In [34]:
print(x.shape,x_train.shape,y_train.shape)

(768, 8) (614, 8) (614,)

*TRAINING THE MODEL*

In [35]:
classifier = svm.SVC(kernel='linear')

In [36]:
# HERE WE ARE TRAINING THE SUPPORT VECTOR MACHINE CLASSIFIER
classifier.fit(x_train,y_train)

SVC(kernel='linear')

MODEL EVALUATION

In [37]:
#ACCURACY SCORE
x_train_prediction = classifier.predict(x_train)
training_data_accuracy = accuracy_score(x_train_prediction,y_train)

In [40]:
print("ACCURACY SCORE FOR THE TRAINING DATA : ",training_data_accuracy)

ACCURACY SCORE FOR THE TRAINING DATA :  0.7866449511400652

In [41]:
#ACCURACY SCORE
x_test_prediction = classifier.predict(x_test)
testing_data_accuracy = accuracy_score(x_test_prediction,y_test)

In [42]:
print("ACCURACY SCORE FOR THE TEST DATA : ",testing_data_accuracy)

ACCURACY SCORE FOR THE TEST DATA :  0.7727272727272727

MAKING THE PREDICTION

In [44]:
input_data = (4,110,92,0,0,37.6,0.191,30)
# CHANGING THE INPUT DATA INTO AN NUMPY ARRAY
input_data_as_numpy_array = np.asarray(input_data)

#RESHAPE THE ARRAY AS WE ARE PREDICTING FOR ONE INSTANCE
input_data_reshaped = input_data_as_numpy_array.reshape(1,-1)

# STANDARDIZE THE INPUT DATA
standard_data = scaler.transform(input_data_reshaped)
print(standard_data)

prediction = classifier.predict(standard_data)
print(prediction)

if(prediction[0]==0):
  print("THE PERSON IS NOT SUFFERING WITH DIABETIC")
else:
  print("THE PERSON IS SUFFERING WITH DIABETIC")

[[ 0.04601433 -0.34096773  1.18359575 -1.28821221 -0.69289057  0.71168975
  -0.84827977 -0.27575966]]
[0]
THE PERSON IS NOT SUFFERING WITH DIABETIC

/usr/local/lib/python3.7/dist-packages/sklearn/base.py:446: UserWarning: X does not have valid feature names, but StandardScaler was fitted with feature names
  "X does not have valid feature names, but"